<!DOCTYPE html>

<html>
<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Bookstore Of Minh Đạt</title>
    <link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.slidertron-1.0.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
</head>
<body>
    <h2 class="MSSV">Nhan Đặng Minh Đạt - 15DH110347 - Ca 3</h2>
    <div id="wrapper">
        <div id="header-wrapper">
            <div id="header">
                <div id="logo">
                    <h1><a href="">Bookstore Of Minh Đạt</a></h1>
                    <p>Design by <a href="" rel="nofollow">MĐ</a></p>
                </div>
            </div>
        </div>
        <!-- end #header -->
        <div id="menu">
            <ul>
                <li>
                    @Html.ActionLink("TRANG CHỦ", "Index", "BookStore")
                </li>
                <li>
                    @Html.ActionLink("Quản lý chủ đề", "Sanpham", "Admin")
                </li>
                <li>
                    @Html.ActionLink("Quản lý NXB", "Nhaxuatban", "Admin")
                </li>
                <li>
                    @Html.ActionLink("Quản lý sách", "Sach", "Admin")
                </li>
                <li>
                    @if(Session["Taikhoanadmin"]!=null)
                    {
                        @Html.ActionLink("Đăng xuất", "Logout", "Admin")
                    }
                </li>
            </ul>
        </div>
        <!-- end #menu -->
        <div id="page">
            @*<div id="sidebar">
                <ul>
                    <li>
                        @Html.Action("ChuDe", "BookStore")
                    </li>
                    <li>
                        @Html.Action("Nhaxuatban", "BookStore")
                    </li>
                </ul>
            </div>*@
            <!-- end #sidebar -->

            <div>
                @RenderBody()
            </div>
            <!-- end #content -->

            <div style="clear: both;">&nbsp;</div>
        </div>
        <!-- end #page -->
    </div>
    <div id="footer">
        <p>2018. Untitled. All rights reserved. Design by MĐ.</p>
    </div>
</body>
</html>
